@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "tailwindcss";

/* change the name of the values later on pls */
@theme {
    --font-poppins: "Poppins";
    --font-outfit: "Outfit";

    --color-background0: oklch(0.2264 0 0);
    --color-background1: oklch(0.2931 0 0);
    --color-foreground0: oklch(0.9612 0 0);
}

html {
    background-color: var(--color-background0);
    color: var(--color-foreground0);
}

h1 {
    font-size: 8rem;
}

h2 {
    font-size: 6rem;
}

h3 {
    font-size: 4rem;
}

h4 {
    font-size: 2rem;
}

input:focus {
    outline: none;
}

button {
    cursor: pointer;
}
