@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "tailwindcss";

@theme {
    --font-poppins: "Poppins";
    --font-outfit: "Outfit";

    --color-background0: oklch(0.2264 0 0);
    --color-background1: oklch(0.2931 0 0); /* 2c2c2c */
    --color-background2: oklch(0.3562 0 0);
    --color-background3: oklch(0.4165 0 0);
    --color-foreground0: oklch(0.9612 0 0);
    --color-background4: oklch(0.15 0 0);

    --color-dsa: var(--color-red-100);
}

html {
    font-family: "Poppins", sans-serif;
    background-color: var(--color-background0);
    color: var(--color-foreground0);
    height: 100vh;
    width: 100vw;
}

h1 {
    font-size: 8rem;
}

h2 {
    font-size: 6rem;
}

h3 {
    font-size: 4rem;
}

h4 {
    font-size: 2rem;
}

input:focus {
    outline: none;
}

button {
    cursor: pointer;
}

textarea {
    resize: none;
}

textarea,
input {
    outline: none;
}

input[type="file"] {
    display: none;
}

label {
    cursor: pointer;
}
